<head>
    <% include ./includes/biqapps %>
    <script src="/game/lib/scenemanager.js"></script>
    <script src="/game/js/intro.js"></script>
    <script src="/game/js/game.js"></script>
    <script src="/game/js/gameover.js"></script>
    <script src="/game/js/start.js"></script>
</head>

<body>
    <h1>Catch the falling balls</h1>
</body>