<!DOCTYPE html>
<html>
<head>
<title>BiQ App - Dashboard</title>
<meta charset="UTF-8"/>
<% include ./includes/biqapps %>
<script src="https://unpkg.com/ml5@0.4.2/dist/ml5.min.js"></script>
<script type="text/javascript" src="/node_modules/handtrackjs/dist/handtrack.min.js"></script>
</head>
<body>
   
</body>
<script type="text/javascript">
let video;
let poseNet;
let pose;
let skeleton;

const videoWidth = window.innerWidth;
const videoHeight = window.innerHeight;

let handTrackModel;

const htModelParams = {
    flipHorizontal: true,   // flip e.g for video  
    maxNumBoxes: 20,        // maximum number of boxes to detect
    iouThreshold: 0.5,      // ioU threshold for non-max suppression
    scoreThreshold: 0.6,    // confidence threshold for predictions.
}

let hands;
function runDetection() {
  let hvid = document.getElementById('vid');
  handTrackModel.detect(hvid).then(predictions => {
      if(predictions.length>0){
        //console.log("Predictions: ", predictions);
        hands = predictions;
      }
        //handTrackModel.renderPredictions(predictions, canvas, context, video);
        requestAnimationFrame(runDetection);
    });
}


function setup() {
  createCanvas(videoWidth,videoHeight);
  video = createCapture(VIDEO);
  video.size(videoWidth,videoHeight);
  video.id("vid");
  video.hide();

  var options = {
    imageScaleFactor: 0.3,
    outputStride: 16,
    flipHorizontal: true,
    minConfidence: 0.5,
    maxPoseDetections: 5,
    scoreThreshold: 0.5,
    nmsRadius: 20,
    detectionType: 'single',
    multiplier: 0.75,
  }

  poseNet = ml5.poseNet(video, options,modelLoaded);
  poseNet.on('pose', gotPoses);
    
    
//   var chart = createDiv("");
//     chart.id("chart");

// chart.position(200,200);
// new BoxChartComponent({
//     title:"Chart",
//     targetId:"chart",
//     action:"View Details",
//     actionClick: "action()",
//     icon:"fa fa-exclamation fa-2x",
//     //icon:"fa fa-cogs fa-2x",
//     //icon:"fa fa-tasks fa-2x",
//     height:75,
//     width:900
//     //query:""
// }).draw();    

// handTrack.load(htModelParams).then(lmodel => {
//     // detect objects in the image.
//     handTrackModel = lmodel;
//     runDetection();
// });
       
}

function gotPoses(poses) {
  //console.log(poses);
  if (poses.length > 0) {
    pose = poses[0].pose;
    skeleton = poses[0].skeleton;
  }
}

function modelLoaded() {
  console.log('poseNet ready');
}

function draw() {
  clear();
  background(0, 0, 0);
  //image(video, 0, 0);
  textSize(32);
  if (pose) {
    
    let eyeR = pose.rightEye;
    let eyeL = pose.leftEye;
    let d = dist(eyeR.x, eyeR.y, eyeL.x, eyeL.y);
    fill(255, 0, 0);
    ellipse(pose.nose.x, pose.nose.y, d);
    fill(0, 0, 255);
    ellipse(pose.rightWrist.x, pose.rightWrist.y, 32);
    text("R: "+pose.rightWrist.confidence.toFixed(3)+" "+Math.round(pose.rightWrist.x)+" , "+Math.round(pose.rightWrist.y),500,30);
    ellipse(pose.leftWrist.x, pose.leftWrist.y, 32);
    text("L: "+pose.leftWrist.confidence.toFixed(3)+" "+Math.round(pose.leftWrist.x)+" , "+Math.round(pose.leftWrist.y),500,60);

    text(videoHeight+" "+videoWidth,500,90);
    fill(0, 102, 153);

    for (let i = 0; i < pose.keypoints.length; i++) {
      let x = pose.keypoints[i].position.x;
      let y = pose.keypoints[i].position.y;
      fill(0, 255, 0);
      ellipse(x, y, 16, 16);
    }

    for (let i = 0; i < skeleton.length; i++) {
      let a = skeleton[i][0];
      let b = skeleton[i][1];
      strokeWeight(2);
      stroke(255);
      line(a.position.x, a.position.y, b.position.x, b.position.y);
    }
  }
  if(hands && hands.length == 2){
      fill(204, 101, 192, 127);
      stroke(127, 63, 120);
      for (let i = 0; i < hands.length; i++) {
        rect(hands[i].bbox[0],hands[i].bbox[1],hands[i].bbox[2],hands[i].bbox[3]);
        console.log("drawing rectangle :"+hands[i].bbox);
      }
    }
}	


</script>
</html>
